.blog {
  display: flex;
  flex-direction: column;
  align-items: center;

  .blog__article {
    display: flex;
    margin-top: 150px;

    &:first-of-type {
      margin-top: 186px;
    }

    &:last-of-type {
      margin-bottom: 186px;
    }

    &__picture {
      width: 536px;
      height: 456px;
      background-size: cover;

      &__first {
        background-image: url("../assets/picture2.png");
        background-color: red;
      }

      &__second {
        background-image: url("../assets/picture3.png");
        background-color: blue;
      }

      &__third {
        background-image: url("../assets/picture4.png");
        background-color: green;
      }
    }

    .article__content {
      width: 538px;
      height: 425px;
      border: 1px solid red;
      margin-left: 64px;
      display: flex;
      flex-direction: column;

      .article__info {
        color: $button-color;

        .article__date {


        }
      }


      .article__title {


      }

      .article__description {


      }

      .article__button {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 270px;
      }


    }

  }
}
