.button{
  background-color: $button-color;
  color: white;
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  padding: 10px 70px;
  border-radius: 8px;
  cursor: pointer;
  width: 262px;
  height: 55px;

}