/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background-color: transparent;
  border: none;
  padding: 0.75em 1em;
  margin: 0.5em 0;
  width: 100%;
  border-radius: 6px;
  font-size: 2em;
  font-weight: 900;
}

body {
  font-family: "Poppins", sans-serif;
}

.button {
  background-color: #E8464E;
  color: white;
  font-size: 1.375rem;
  font-weight: 600;
  text-decoration: none;
  border-radius: 8px;
  cursor: pointer;
  width: 262px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button:hover {
  font-weight: bold;
}

body {
  background-color: #F0F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
}
body .main-container .container {
  width: 1780px;
  margin: 0 auto 0 140px;
}

.header-container {
  background-color: #E4EFF0;
  display: flex;
  height: 1080px;
}
.header-container .navigation {
  width: 140px;
  height: 100%;
  background-color: #4B7196;
  text-align: center;
  position: fixed;
}
.header-container .navigation__logo {
  margin-top: 100px;
}
.header-container .navigation__menu {
  margin-top: 20vh;
}
.header-container .navigation__menu__content {
  margin-bottom: 50px;
}
.header-container .navigation__menu__content .content__item {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.header-container .navigation__menu__content .content__item:hover {
  font-weight: bold;
}
.header-container .navigation__menu__content .content__item .search {
  width: 14px;
  height: 14px;
  color: white;
}
.header-container .banner {
  display: flex;
}
.header-container .banner__content {
  flex-grow: 2;
  margin: 336px 0 0 68px;
}
.header-container .banner__title {
  color: #2B3956;
  font-size: 4.125rem;
  font-weight: bold;
  line-height: 99px;
}
.header-container .banner__description {
  color: #4B7196;
  font-size: 1.8125rem;
  line-height: 43px;
  margin-top: 25px;
  margin-bottom: 50px;
}
.header-container .banner__arrow {
  margin-top: 220px;
  margin-left: calc(50% - 20px);
}
.header-container .banner__picture {
  width: 919px;
  height: auto;
  margin: 44px 45px 44px 68px;
}

.blog {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.blog .blog__article {
  display: flex;
  margin-top: 150px;
}
.blog .blog__article:first-of-type {
  margin-top: 186px;
}
.blog .blog__article:last-of-type {
  margin-bottom: 186px;
}
.blog .blog__article__picture {
  width: 536px;
  height: 456px;
  background-size: cover;
}
.blog .blog__article__picture__first {
  background-image: url("../assets/picture4.png");
}
.blog .blog__article__picture__second {
  background-image: url("../assets/picture2.png");
}
.blog .blog__article__picture__third {
  background-image: url("../assets/picture3.png");
}
.blog .blog__article .article__content {
  width: 538px;
  height: 425px;
  margin-left: 66px;
  display: flex;
  flex-direction: column;
}
.blog .blog__article .article__content .article__info {
  color: #E8464E;
  font-size: 0.9375rem;
  display: flex;
  justify-content: space-between;
}
.blog .blog__article .article__content .article__info .article__info_content {
  display: flex;
  justify-content: space-between;
  width: 244px;
  height: 21px;
}
.blog .blog__article .article__content .article__info .article__mark {
  cursor: pointer;
  width: 16.38px;
  height: 21.84px;
  background-image: url("../assets/bookmark.png");
  margin-left: 270px;
}
.blog .blog__article .article__content .article__info .article__mark__full {
  width: 16.38px;
  height: 21.84px;
  background-image: url("../assets/bookmarkfull.png");
  margin-left: 270px;
  display: none;
}
.blog .blog__article .article__content .article__title {
  margin: 38px auto 29px 0;
  height: 131px;
  width: 536px;
  font-size: 2.8125rem;
  color: #0f0f0f;
  line-height: 4.25rem;
}
.blog .blog__article .article__content .article__description {
  color: #0f0f0f;
  font-size: 0.9357rem;
  width: 536px;
  height: 100px;
  margin-bottom: 51px;
  line-height: 1.4375rem;
}
.blog .blog__article .article__content .article__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

footer {
  background-color: #2B3956;
  height: 203px;
}

.footer {
  display: flex;
  justify-content: space-around;
  color: white;
}
.footer__copy {
  font-size: 0.9375rem;
  margin-top: 140px;
}
.footer__menu {
  display: flex;
  align-items: center;
}
.footer__menu__content {
  margin-right: 20px;
  font-size: 1.25rem;
  font-weight: 600;
}
.footer__menu__content:last-of-type {
  margin-right: 0;
}
.footer .content__item {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.main-container {
  width: 1920px;
}
.main-container .article-container {
  margin: 0 auto 0 auto;
  display: flex;
}
.main-container .article-container .navigation {
  height: 1080px;
}
.main-container .article-container .page__blog {
  margin-left: 340px;
  margin-right: 170px;
}

.article-footer {
  width: 1920px;
}

.article-footer {
  display: flex;
  justify-content: space-around;
  color: white;
  width: 100%;
}
.article-footer__copy {
  font-size: 0.9375rem;
  margin-top: 140px;
}
.article-footer__menu {
  display: flex;
  align-items: center;
}
.article-footer__menu__content {
  margin-right: 20px;
  font-size: 1.25rem;
  font-weight: 600;
}
.article-footer__menu__content:last-of-type {
  margin-right: 0;
}
.article-footer .content__item {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.main-container .container .navigation {
  width: 140px;
  height: 100%;
  background-color: #4B7196;
  text-align: center;
  position: fixed;
}
.main-container .container .navigation__logo {
  margin-top: 100px;
}
.main-container .container .navigation__menu {
  margin-top: 20vh;
}
.main-container .container .navigation__menu__content {
  margin-bottom: 50px;
}
.main-container .container .navigation__menu__content .content__item {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.main-container .container .navigation__menu__content .content__item:hover {
  font-weight: bold;
}
.main-container .container .navigation__menu__content .content__item .search {
  width: 14px;
  height: 14px;
  color: white;
}

.article-container {
  width: 1920px;
}
.article-container .navigation {
  width: 140px;
  height: 100%;
  background-color: #4B7196;
  text-align: center;
}
.article-container .navigation__logo {
  margin-top: 100px;
}
.article-container .navigation__menu {
  margin-top: 20vh;
}
.article-container .navigation__menu__content {
  margin-bottom: 50px;
}
.article-container .navigation__menu__content .content__item {
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.article-container .navigation__menu__content .content__item:hover {
  font-weight: bold;
}
.article-container .navigation__menu__content .content__item .search {
  width: 14px;
  height: 14px;
  color: white;
}
.article-container .page__blog_container {
  height: auto;
  margin-left: 200px;
  width: 950px;
}
.article-container .page__blog_container .page__blog__article .page__article__content {
  width: 966px;
  height: auto;
}
.article-container .page__blog_container .page__blog__article .page__article__content .page__article__title {
  margin-top: 109px;
  height: 189px;
  width: 100%;
  font-size: 4.0625rem;
  color: #0f0f0f;
  line-height: 6.125rem;
}
.article-container .page__blog_container .page__blog__article .page__article__content .page__article__info {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 25px;
}
.article-container .page__blog_container .page__blog__article .page__article__content .page__article__info .article__info_content {
  width: 244px;
  height: 21px;
}
.article-container .page__blog_container .page__blog__article .page__article__content .page__article__info .article__info_content .article__date {
  color: #E8464E;
  margin-right: 5px;
}
.article-container .page__blog_container .page__blog__article .page__article__content .page__article__info .article__info_content .article__likes {
  color: #E8464E;
}
.article-container .page__blog_container .page__blog__article .page__article__content .page__article__info .article__info_content .article__vievs {
  margin-left: 5px;
  color: #E8464E;
}
.article-container .page__blog_container .page__blog__article .page__article__content .page__article__info .article__mark {
  cursor: pointer;
  width: 16.38px;
  height: 21.84px;
  background-image: url("../assets/bookmark.png");
  margin-left: 25px;
  margin-right: 15px;
}
.article-container .page__blog_container .page__blog__article .page__article__content .page__article__info .article__mark__full {
  width: 16.38px;
  height: 21.84px;
  background-image: url("../assets/bookmarkfull.png");
  margin-left: 270px;
  display: none;
}
.article-container .page__blog_container .page__blog__article .page__article__content .blog__article__picture {
  width: 950px;
  height: 627px;
  margin-top: 25px;
  background-image: url("../assets/picture4.png");
  background-size: cover;
  background-position: center;
}
.article-container .page__blog_container .page__blog__article .page__article__content .section__article__title {
  margin: 60px 0;
  font-size: 50px;
  line-height: 70px;
}
.article-container .page__blog_container .page__blog__article .page__article__content .article__description {
  margin-top: 60px;
  width: 100%;
  color: #0f0f0f;
  font-size: 1.125rem;
  text-align: left;
  line-height: 1.6875rem;
}
.article-container .page__blog_container .page__blog__article .last {
  margin-bottom: 93px;
}
.article-container .info {
  margin-top: 298px;
  margin-left: 170px;
  font-size: 15px;
}
.article-container .info .info__tags {
  margin-bottom: 57px;
  position: relative;
}
.article-container .info .info__categories {
  margin-top: 35px;
  margin-bottom: 57px;
  position: relative;
}
.article-container .info .info__latest-articles {
  margin-top: 35px;
  margin-bottom: 57px;
  position: relative;
}
.article-container .info .previous__article {
  margin-bottom: 40px;
}
.article-container .info .special {
  color: #E8464E;
  line-height: 25px;
}
.info__tags::before {
  content: " ";
  width: 250px;
  height: 10px;
  border-bottom: 1px solid #707070;
  position: absolute;
  bottom: -20px;
}

.info__categories::before {
  content: " ";
  width: 250px;
  height: 10px;
  border-bottom: 1px solid #707070;
  position: absolute;
  bottom: -20px;
}

.info__latest-articles::before {
  content: " ";
  width: 250px;
  height: 10px;
  border-bottom: 1px solid #707070;
  position: absolute;
  bottom: -20px;
}
/*# sourceMappingURL=style.css.map */
